body {
  margin: 0;
  padding: 0;
  background-color: #606dbc;
}


.main-container {
  background-color: white;
  position: relative;
  width: 28%;
  height: auto;
  margin: 3.5em auto;
  text-align: center;
  border-radius: 10px;
}

img {
  margin-top: 2em;
  border-radius: 50%;
}

.tech {
  font-size: 24px;
  margin: -20px 0px 10px 0px;
}

.btns {
  display: flex;
  justify-content: center;
  padding: 5px 0px 18px 0px;
}

.btns button {
  font-weight: bold;
  font-size: 16px;
  margin-right: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

.btns button:hover {
  color: white;
  background-color: rgb(111, 105, 230);
}

.counter {
  display: flex;
  justify-content: center;
  font-size: 25px;
}


.heart {
  background: transparent;
  border: none;
  margin: 0px -14px 0px 10px;
}

.fa-heart {
  color: red;
}

a {
  padding: 8px; 
}

.fa-github, .fa-linkedin-in {
  color: #1887cc;
  padding: 20px 0px;
}

/* Tablet Screen Sizes */
@media only screen and (max-width: 992px) {
  .main-container {
    width: 50%;
  }
}

/* Mobile Screen Sizes */
@media only screen and (max-width: 600px) {
  .main-container {
    width: 85%;
  }
}